body {
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
}

* {
  box-sizing: border-box;
}

#page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 1rem;

  background: #212529;
  color: #f8f9fa;
}

a:link,
a:active,
a:visited,
a:hover {
  color: #d0ebff;
}

#page > * {
  flex: 0;
}

#page main {
  flex: 1;
}

.gallery {
  border: 2px dashed white;
  border-radius: 0.15rem;
  display: flex;
  gap: 1.5rem;
  line-height: 1;
  margin-top: 4rem;
  max-width: calc(200px + 50vw);
  overflow: auto;
  padding: 1.5rem;
}

.gallery > * {
  background: #343a40;
  border-radius: 0.15rem;
  margin: 0;
  padding: 1rem;
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
}

.disclaimer {
  opacity: 0.8;
  font-size: 0.8em;
  width: 100%;
  text-align: center;
}
